{#   {% from "macros.html" import input %}   #}
{#   {% import "macros/macros.html" as macro %}    #}
<!-- with context 会同时把当前模板的宏中的变量传到导入后的模板中 -->
{% import "macros/macros.html" as macro with context %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jinjia2 - Macro测试</title>
</head>
<body>

<!--     {% macro input(name='', value='', type='text') %}
        <input type="{{ type }}" name="{{ name }}, value="{{ value }}">
    {% endmacro %} -->

    <h1>用户登录</h1>
    <table>
        <tbody>
            <tr>
                <td>用户名： </td>
                <td>{{ macro.input("username") }}</td>
            </tr>
            <tr>
                <td>密码： </td>
                <td>{{ macro.input("password", type="password") }}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ macro.input(value="提交", type="submit") }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>