<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jinjia2 - Include测试</title>
<!--     <style type="text/css">
        .nav ul{
            overflow: hidden;
        }
        .nav ul li{
            float: left;
            margin: 0 20px
        }
    </style> -->
</head>
<body>
    {% include "common/header.html" %}
<!--     <nav class="nav">
        <ul>
            <li>首页</li>
            <li>课程详情</li>
            <li>视频教程</li>
            <li>关于我们</li>
        </ul>
    </nav> -->

    <div class="content">
        <p>中间内容</p>
    </div>
    {% include "common/footer.html" %}
<!--     <footer>
        这是底部内容
    </footer> -->
</body>
</html>